body{
    background-color: #494949;
}
p{
    text-align: center;
    margin: 5px 0;
    color: white;
}
.card_list{
    box-sizing: border-box;
    padding: 0 15px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
.card{
    box-sizing: border-box;
    width: 30vw;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 24px;
    position: relative;
}
.card img{
    width: 70%;
}
.card button{
    background-color: #d09b2a;
    border: none;
    border-radius: 5px;
    width: 70%;
    color: #fff;
    font-size: 26px;
}
.card .num{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #d09b2a;
    right: 60px;
    top: 7px;
    border-radius: 50%;
    color: white;
    display: none;
    align-content: center;
    justify-content: center;
}
.card .buttons{
    display: none;

}
.card .buttons button{
    margin: 0 5px;
}